.content {
  position: relative;
  margin-bottom: 60px;
}

.head-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#container-form {
  padding: 20px;
  border-radius: 10px;
  background-color: #c38154;
  margin-bottom: 30px;
}

.head-btn-action {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.head-btn-action * {
  margin-bottom: 10px;
}

#label-page {
  margin-bottom: 10px;
}

.form-search {
  flex-basis: 100%;
  margin-top: -50px;
  margin-bottom: 45px;
}

.form-search input[type="text"] {
  padding: 5px 15px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin-right: 20px;
}

#tombol-tambah-container,
.form-search input[type="submit"],
.btn-cetak,
#tabel-tampil .tombol-opsi-container {
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #ffc26f;
  border: none;
  outline: none;
  cursor: pointer;
}

#tombol-tambah-container a,
.btn-cetak,
.form-search input[type="submit"],
#tabel-tampil .tombol-opsi-container a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.btn-cetak {
  background-color: #0000ff;
}

#tabel-tampil th,
#tabel-tampil td {
  text-align: start;
  padding: 20px;
  padding-left: 0;
}

#tabel-tampil .tombol-opsi-container {
  margin-bottom: 10px;
  text-align: center;
}

#tabel-tampil .tombol-opsi-container.cetak {
  background-color: #0000ff;
}

#tabel-tampil .tombol-opsi-container.hapus {
  background-color: #d9534f;
}

.btn-pagination {
  padding: 10px;
  border-radius: 10px;
  background-color: #ffc26f;
  color: white;
  font-size: 16px;
  text-align: center;
}

.btn-pagination .active {
  background-color: #5cb85c;
}

.pagination {
  position: absolute;
  bottom: 0;
  right: 0;
}

.err-text {
  color: #d9534f;
  font-size: 16px;
  margin: 10px 0;
  font-weight: 600;
}
