:root {
  --main-color: #7c73c0;
  --secondary-color: #94add7;
  --third-color: #acfadf;
  --light-color: #acfadf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.form-wrapper {
  background-color: var(--main-color);
  color: var(--light-color);
  padding: 40px;
  border-radius: 15px;
}
